#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define ZMK_POINTING_DEFAULT_SCRL_VAL 100

// Layer Names for readability
#define DEFAULT 0
#define L1 1
#define L2 2
#define IPAD_DEFAULT 3
#define IPAD_L1 4
#define IPAD_L2 5
#define BT 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    combos { compatible = "zmk,combos"; };

    macros {
        pc_mode: pc_mode { // For BT profile 1
            compatible = "zmk,behavior-macro";
            label = "PC_MODE";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 1>, <&to DEFAULT>;
        };

        ipad_mode_2: ipad_mode_2 { // For BT profile 2
            compatible = "zmk,behavior-macro";
            label = "IPAD_MODE_2";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 2>, <&to IPAD_DEFAULT>;
        };

        iphone_mode: iphone_mode { // For BT profile 3
            compatible = "zmk,behavior-macro";
            label = "IPHONE_MODE";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 3>, <&to IPAD_DEFAULT>;
        };
    };

    behaviors {
        scroll_up_down: behavior_sensor_rotate_mouse_wheel_up_down {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;
            tap-ms = <20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q             &kp W         &kp E         &kp R        &kp T                                    &kp Y        &kp U  &kp I     &kp O     &kp P
&kp A             &kp S         &kp D         &kp F        &kp G                     &kp MINUS      &kp H        &kp J  &kp K     &kp L     &kp ENTER
&mt LEFT_SHIFT Z  &kp X         &kp C         &kp V        &kp B        &lt BT TAB    &kp SEMICOLON  &kp N        &kp M  &mkp MB1  &mkp MB2  &mt RIGHT_SHIFT SLASH
&kp LCTRL         &kp LEFT_WIN  &kp LEFT_ALT  &lt L1 SPACE &lt L2 SPACE  &kp GRAVE    &kp BACKSPACE  &lt L2 ENTER                            &kp ESC
            >;

            sensor-bindings =
                <&scroll_up_down>,
                <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        layer_1 {
            bindings = <
&kp MINUS                   &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp PLUS                           &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans         &trans             &trans
&kp SLASH                   &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp ASTERISK               &trans  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp SEMICOLON  &kp SQT            &kp BACKSLASH
&mt LEFT_SHIFT KP_NUMBER_0  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp PERIOD    &kp EQUAL    &trans  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp COLON      &kp DOUBLE_QUOTES  &kp PIPE
&trans                      &trans           &trans           &trans           &trans        &trans       &trans  &trans                                                                         &trans
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        layer_2 {
            bindings = <
&kp EXCLAMATION  &kp AT_SIGN    &kp HASH     &kp DOLLAR  &kp PERCENT                    &kp DEL        &kp HOME      &kp UP     &kp END     &kp PG_UP
&kp TILDE        &kp AMPERSAND  &to IPAD_DEFAULT &trans      &trans                 &trans         &trans        &kp LEFT      &kp DOWN   &kp RIGHT   &kp PG_DN
&kp DEL          &kp HOME       &kp END      &kp PG_UP   &kp PG_DN      &trans    &trans         &trans        &trans        &kp COMMA  &kp PERIOD  &trans
&trans           &trans         &trans       &trans      &trans       &trans    &trans         &trans                                                  &trans
            >;
        };
        
        ipad_default_layer {
            bindings = <
&kp Q             &kp W         &kp E         &kp R        &kp T                                          &kp Y        &kp U  &kp I     &kp O     &kp P
&kp A             &kp S         &kp D         &kp F        &kp G                     &kp MINUS            &kp H        &kp J  &kp K     &kp L     &kp ENTER
&mt LEFT_SHIFT Z  &kp X         &kp C         &kp V        &kp B        &lt BT TAB    &kp SEMICOLON        &kp N        &kp M  &mkp MB1  &mkp MB2  &mt RIGHT_SHIFT SLASH
&kp LGUI          &kp LCTRL     &kp LEFT_ALT  &lt IPAD_L1 SPACE &lt IPAD_L2 SPACE  &kp GRAVE    &kp BACKSPACE  &lt IPAD_L2 ENTER                       &kp ESC
            >;

            sensor-bindings =
                <&scroll_up_down>,
                <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        ipad_layer_1 {
            bindings = <
&kp MINUS                   &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp PLUS                           &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans         &trans             &trans
&kp SLASH                   &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp ASTERISK               &trans  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp SEMICOLON  &kp SQT            &kp BACKSLASH
&mt LEFT_SHIFT KP_NUMBER_0  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp PERIOD    &kp EQUAL    &trans  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp COLON      &kp DOUBLE_QUOTES  &kp PIPE
&trans                      &trans           &trans           &trans           &trans        &trans       &trans  &trans                                                                         &trans
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        ipad_layer_2 {
            bindings = <
&kp EXCLAMATION  &kp AT_SIGN    &kp HASH     &kp DOLLAR  &kp PERCENT                    &kp DEL        &kp HOME      &kp UP     &kp END     &kp PG_UP
&kp TILDE        &kp AMPERSAND  &to DEFAULT      &trans      &trans                 &trans         &trans        &kp LEFT      &kp DOWN   &kp RIGHT   &kp PG_DN
&kp DEL          &kp HOME       &kp END      &kp PG_UP   &kp PG_DN      &trans    &trans         &trans        &trans        &kp COMMA  &kp PERIOD  &trans
&trans           &trans         &trans       &trans      &trans       &trans    &trans         &trans                                                  &trans
            >;
        };


        bluetooth {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &pc_mode      &iphone_mode  &ipad_mode_2  &trans        &trans
&trans  &trans  &trans  &trans  &trans            &trans  &trans        &trans        &trans        &trans        &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans        &trans        &trans        &trans        &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                                                  &trans
            >;
        };
    };
};
